<h1 class="ui header">
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <a href="#" class="header item">
                <img class="logo" src="https://semantic-ui.com/examples/assets/images/logo.png">
                <span style="margin-left: 10px;">Sijiden</span>
            </a>
            <a href="/sijiden" class="item" data-page="dashboard">Dashboard</a>
            <a href="/sijiden/users" class="item" data-page="users">Users</a>
            <a href="/sijiden/roles" class="item" data-page="roles">Roles</a>
            <div class="right item">
                <a class="ui inverted button">Log out</a>
            </div>
        </div>
    </div>
</h1>