<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard - Sijiden</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <script src="/static/lib/alpine-component.js"></script>
    <script src="/static/lib/alpine-page-active.js"></script>
    <style>
        [x-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div x-data x-cloak x-component.once="/sijiden/components/navbar" x-page-active="'roles'">
    </div>

    <div class="ui container" style="margin-top: 60px;">
        <h1 class="ui header">
            Roles
        </h1>
        <a href="#" class="ui button primary"><i class="plus icon"></i> Add New Role</a>
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="Name">James</td>
                    <td data-label="Age">24</td>
                    <td data-label="Job">Engineer</td>
                    <td data-label="action"></td>
                </tr>
                <tr>
                    <td data-label="Name">Jill</td>
                    <td data-label="Age">26</td>
                    <td data-label="Job"></td>
                    <td data-label="Action"></td>
                </tr>
                <tr>
                    <td data-label="Name">Elyse</td>
                    <td data-label="Age">24</td>
                    <td data-label="Job"></td>
                    <td data-label="Action"></td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>